* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: size 16px;
}
a { 
  color: #fff;;
}
h1 {
  color: #000;
}

.navbar-brand {
  padding-left: 25px;
}

#navbarNavDropdown {
  padding-right: 25px;
}

/*Hee Gene Style*/

input {
  width: 400px;
  padding-left: 5px;
}

select {
  width: 400px;
}

.container {
  padding: 50px 100px;
}

#submit {
  background-color: #16c79a;
  color: white;
  width: 100px;
}

#contact-heading {
  color: #19456b;
}
.jumbotron {
  background: url("2.jpg") no-repeat center;
  height: 225px;
}
.btn-primary {
  background-color: #19456b;
  border-color: #c60063;
}
#hook {
  color: #fff;
}
#hook_message {
  color: #fff;
}

/* Product Section */

.products {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.product-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-items img {
  width: 100%;
}

/* Monitoring */
.monitoring {
  width: 70%;
  margin: 0 auto;
}
.monitoring-items {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.monitoring-cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: #000 solid 1px;
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px;
}

.monitoring-cards img {
  width: 100px;
}

.monitoring-cards p {
  margin-top: 10px;
}

#footer{
  background-color: #0d6efd;
  color: #fff;
}

.list-unstyled.li.a {
  color: #fff;
}